.skills-container {
  padding: 0em 4em;
  margin-top: 3em;

  margin-bottom: 10em;

  .tab-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    span.tab {
      cursor: pointer;
      padding: 0.25em 1em;
      border-radius: 3px;
      margin-right: 0.5em;
      border: 1px solid #2e0d3d;
    }

    span.active-tab {
      background: #752fb9;
      color: white;
    }

    span.tab:hover {
      background: #752fb9;
      color: white;
    }
  }

  .tab-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;

    div.content-icon {
      width: 5em;
      height: 5em;
      animation: fade-in 0.25s ease;
      animation-fill-mode: forwards;
      transition: all 0.25s ease;
      opacity: 0;
      background: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid #752fb9;

      img {
        width: 65px;
        height: 65px;
      }
    }

    .content-icon:hover {
      border: 1px solid #611762;
      background: white;
    }

    @for $i from 1 through 20 {
      div:nth-of-type(#{$i}) {
        animation-delay: #{$i}00ms;
      }
    }

    div:nth-of-type(n + 20) {
      animation-delay: 2100ms;
    }
  }

  .menu-item {
    color: white;
    cursor: pointer;
  }

  .menu-item:hover {
    background: #752fb9;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }

  50% {
    opacity: 1;
    transform: translateY(-10px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
