<div class="skills-container">
  <div class="container-fluid">
    <div class="ods-box">

      <div class="tab-menu">
        <div>
        <span *ngFor="let tab of tabs; let index = index" class="tab" [class.active-tab]="activeTabIndex === index"
              (click)="activeTabIndex = index">
          {{ tab }}
        </span>
        </div>
        <div class="tab-search">
          <input placeholder="Search {{ tabs[activeTabIndex] }}"/>
        </div>
      </div>

      <div class="tab-contents">
        <!-- get this with viewchild, then in search get n-th child, where n === activeTabIndex,
        then forloop through each content cards text,
         if the content contains search word, add search-active-class to it?
        -->
        <ng-container *ngIf="activeTabIndex === 0">
          <div class="content-icon" *ngFor="let item of contents | keyvalue">
            <img src="{{iconPrefix + item.value}}"/>
          </div>
        </ng-container>

        <ng-container *ngIf="activeTabIndex === 1">
          <div class="content-icon" *ngFor="let item of contents | keyvalue">
            <img src="{{iconPrefix + item.value}}"/>
          </div>
        </ng-container>

        <ng-container *ngIf="activeTabIndex === 2">
          <div class="content-icon" *ngFor="let item of contents | keyvalue">
            <img src="{{iconPrefix + item.value}}"/>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>
