.cv-container {
  display: flex;
  justify-content: center;
  padding: 5em 1em 0 4em;
  background: #2e0d3d;

  .content-left {
    width: max-content;

    h1, span {
      color: white;
      width: max-content;
    }
    button {
      display: block;
      margin-top: 5em;
    }
    button:hover {
      border: 2px solid #752fb9;
    }

    .sub-content-left{
      font-size: 12px;
      margin-top: 4em;
      display: flex;
      align-items: center;
      width: max-content;
      padding: 0.5em 1em;
      border-left: 2px solid #431359;

      cursor: pointer;
      a {
        display: flex;
        align-items: center;
        color: #f7f7f7;
      }
      img {
        margin-left: 1em;
        width: 20px;
      }
    }
    .sub-content-left:hover{
      background: #752fb9;
    }
  }
  .content-right {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 30em;
    }
  }
}

.divider{
  background: url(/assets/images/divider.svg);
  height: 10em;
  width: 100%;
}
