<div class="cv-container">
  <div class="content-left">
    <h1>Welcome to my Website.</h1>
    <span>Take a look around.</span>

    <button>Download CV</button>

    <a href="https://github.com/JonasLeonhard" title="Checkout my GitHub" target="_blank">
      <div class="sub-content-left">
        GitHub <img src="assets/images/GitHub-Mark-Light-32px.png" alt="Github">
      </div>
    </a>
  </div>
  <div class="content-right">
    <div class="circle"></div>
  </div>
</div>
<div class="divider"></div>

<div>
skills ...
</div>



