<div class="cv-container">
  <div class="content-left">
    <h1>Welcome to my Website.</h1>
    <span>Take a look around.</span>

    <button>Download CV</button>


      <div class="sub-content-left">
        <a href="https://github.com/JonasLeonhard" title="Checkout my GitHub" target="_blank">
          GitHub <img src="assets/images/GitHub-Mark-Light-32px.png" alt="Github">
        </a>
      </div>
  </div>
  <div class="content-right">
    <img src="assets/images/adventure.svg" als="Adventure">
  </div>
</div>
<div class="divider"></div>

<div>
skills ...
</div>



