@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ark-pixel-16px-monospaced-latin';
	src: local('ark-pixel-16px-monospaced-latin'),
		url('/fonts/ark-pixel-16px-monospaced-latin.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'inter-regular';
	src: local('Inter-Regular'), url('/fonts/Inter-Regular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'inter-var';
	src: local('Inter-Var'), url('/fonts/Inter-Var.ttf') format('truetype');
	font-display: swap;
}

:root {
	@apply font-interReg;
	scroll-behavior: smooth;
}
@supports (font-variation-settings: normal) {
	:root {
		@apply font-interVar;
	}
}

body {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply bg-light text-text-light dark:bg-dark dark:text-text-dark;
}

a {
	@apply underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
.prose code,
a {
	@apply font-pixel;
}

hr {
	@apply text-bg-accent-light dark:text-bg-accent-dark;
}

input:focus {
	outline: none;
}
